@model testTrain.Model.delieveryMan

@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers;

@{
    ViewData["Title"] = "CreateDeliveryMan";
}

<h1>CreateDeliveryMan</h1>

<h4>delieveryMan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-route="createDeliveryMan" asp-controller="Home" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nationalID" class="control-label"></label>
                <input asp-for="nationalID" class="form-control" />
                <span asp-validation-for="nationalID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phoneNumber" class="control-label"></label>
                <input asp-for="phoneNumber" class="form-control" />
                <span asp-validation-for="phoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fullName" class="control-label"></label>
                <input asp-for="fullName" class="form-control" />
                <span asp-validation-for="fullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="carType" class="control-label"></label>
                <input asp-for="carType" class="form-control" />
                <span asp-validation-for="carType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="plateNumbers" class="control-label"></label>
                <input asp-for="plateNumbers" class="form-control" />
                <span asp-validation-for="plateNumbers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="plateLetters" class="control-label"></label>
                <input asp-for="plateLetters" class="form-control" />
                <span asp-validation-for="plateLetters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pickUpLocation" class="control-label"></label>
                <input asp-for="pickUpLocation" class="form-control" />
                <span asp-validation-for="pickUpLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="capacity" class="control-label"></label>
                <input asp-for="capacity" class="form-control" />
                <span asp-validation-for="capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
