@model testTrain.Model.ViewModels.CreateDeliveryManVM

@{
    ViewData["Title"] = "Create";
}

<h1>Dashboard</h1>

<h4>Register Delivery Man</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fullName" class="control-label"></label>
                <input asp-for="fullName" class="form-control" />
                <span asp-validation-for="fullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nationalID" class="control-label"></label>
                <input asp-for="nationalID" class="form-control" />
                <span asp-validation-for="nationalID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="carType" class="control-label"></label>
                @Html.DropDownListFor(m => m.carType, new SelectList(Enum.GetValues(typeof(testTrain.Model.ViewModels.TypeOfCar))), "Select Vehicle")

            </div>
            <div class="form-group">
                <label asp-for="plateNumbers" class="control-label"></label>
                <input asp-for="plateNumbers" class="form-control" />
                <span asp-validation-for="plateNumbers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="plateLetters" class="control-label"></label>
                <input asp-for="plateLetters" class="form-control" />
                <span asp-validation-for="plateLetters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pickUpLocation" class="control-label"></label>
                <input asp-for="pickUpLocation" class="form-control" />
                <span asp-validation-for="pickUpLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="capacity" class="control-label"></label>
                <input asp-for="capacity" class="form-control" />
                <span asp-validation-for="capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" onclick="return confirm('Please wait while Delivery Man is being registered');" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
